In [110]:
import pandas as pd

## Create availability_df

In [153]:
df = pd.read_excel('temp_data.xlsx')
date_cols = df.columns[1:]
df[date_cols] = df[date_cols].notnull()
df = df.loc[~df['Names'].isin(['BENEDICT', 'MAVIS', 'ROBIN'])]
df = df.drop_duplicates().reset_index(drop=True)
df.columns = ['Names']+[str(x.date()) for x in date_cols]
display(df)
df.to_excel('q2_date_availability.xlsx')

,Names,2025-04-06,2025-04-13,2025-04-17,2025-04-18,2025-04-20,2025-04-27,2025-05-04,2025-05-11,2025-05-18,2025-05-25,2025-06-01,2025-06-08,2025-06-15,2025-06-22,2025-06-29
0,SINGYE,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,WONSEN,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,SHERMAN,True,False,True,True,True,False,True,True,False,False,False,False,False,True,True
3,CHEE FS,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,FRED KWAN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,IAN MING,True,True,True,True,False,False,True,True,True,True,True,True,False,True,True
6,LAWRENCE,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,PAMELA CHEONG,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,HONGTO,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
9,STEVEN,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
10,WEI XUAN,False,True,True,True,True,True,True,False,True,True,True,False,True,False,True
11,YU XUAN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,ANDREW,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
13,FAM,True,False,True,True,True,True,True,True,True,True,True,False,True,True,True
14,TITUS,False,False,False,False,True,False,True,True,True,False,True,True,True,True,True
15,JURINA,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
16,SIAW ENG,False,True,True,True,False,True,True,True,True,True,True,False,False,False,True
17,HING GEE,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,SWEE GEOK,True,True,True,True,True,True,False,True,True,True,True,True,True,True,False
19,MU TIAN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,TIMOTHY,False,False,True,True,True,True,True,True,False,False,True,True,True,True,True
21,YU TANG,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True
22,ZHI QIAN,False,True,True,True,False,True,True,True,True,True,True,True,False,False,True
23,JAIRUS,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
24,JEFFERY,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
25,SHAWN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,JEREMY,False,False,False,False,False,False,False,False,True,True,False,False,False,False,True
27,MATHIAS,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,ELLY,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False

## Create skill_matching data

In [114]:
all_names = list(set(df['Names']))
cols = [
    'SOUND #1 (M)',
    'PROJECTIONIST (M)',
    'COORDINATOR (B)',
    'LIVESTREAM #1 (B)',
    'SOUND #1 (B)',
    'SOUND #2 (B)',
    'PROJECTIONIST (B)'
    ]
df = pd.DataFrame(columns=cols, index=all_names, data=False)


def update_skill_df(df:pd.DataFrame, role:str, members:list)->None:
    df.loc[members, role] = True
    return df

df = update_skill_df(df, 'SOUND #1 (M)', ['SINGYE', 'WONSEN', 'SHERMAN'])
df = update_skill_df(df, 'PROJECTIONIST (M)', ['CHEE FS', 'FRED KWAN', 'IAN MING', 'LAWRENCE', 'PAMELA CHEONG', 'HONGTO', 'STEVEN', 'ROBIN'])
df = update_skill_df(df, 'COORDINATOR (B)', ['WEI XUAN', 'YU XUAN', 'ANDREW', 'FAM', 'TITUS', 'JURINA', 'BENEDICT'])
df = update_skill_df(df, 'LIVESTREAM #1 (B)', ['SIAW ENG', 'HING GEE', 'SWEE GEOK', 'MU TIAN', 'TIMOTHY', 'YU TANG', 'ZHI QIAN'])
df = update_skill_df(df, 'SOUND #1 (B)', ['JAIRUS', 'JEFFERY', 'SHAWN', 'JEREMY', 'MATHIAS', 'TIMOTHY'])
df = update_skill_df(df, 'SOUND #2 (B)', ['JAIRUS', 'JEFFERY', 'SHAWN', 'JEREMY', 'MATHIAS', 'TIMOTHY'])
df = update_skill_df(df, 'PROJECTIONIST (B)', ['BENEDICT', 'ELLY', 'JURINA', 'MAVIS', 'SIAW ENG', 'TIMOTHY'])

df = df.sort_index()

df = df.drop(index='BENEDICT')
df = df.drop(index='MAVIS')
df = df.drop(index='ROBIN')
df = df.reset_index(names=['Names'])
display(df)
df.to_excel('skills_mapping.xlsx')

,Names,SOUND #1 (M),PROJECTIONIST (M),COORDINATOR (B),LIVESTREAM #1 (B),SOUND #1 (B),SOUND #2 (B),PROJECTIONIST (B)
0,ANDREW,False,False,True,False,False,False,False
1,CHEE FS,False,True,False,False,False,False,False
2,ELLY,False,False,False,False,False,False,True
3,FAM,False,False,True,False,False,False,False
4,FRED KWAN,False,True,False,False,False,False,False
5,HING GEE,False,False,False,True,False,False,False
6,HONGTO,False,True,False,False,False,False,False
7,IAN MING,False,True,False,False,False,False,False
8,JAIRUS,False,False,False,False,True,True,False
9,JEFFERY,False,False,False,False,True,True,False
10,JEREMY,False,False,False,False,True,True,False
11,JURINA,False,False,True,False,False,False,True
12,LAWRENCE,False,True,False,False,False,False,False
13,MATHIAS,False,False,False,False,True,True,False
14,MU TIAN,False,False,False,True,False,False,False
15,PAMELA CHEONG,False,True,False,False,False,False,False
16,SHAWN,False,False,False,False,True,True,False
17,SHERMAN,True,False,False,False,False,False,False
18,SIAW ENG,False,False,False,True,False,False,True
19,SINGYE,True,False,False,False,False,False,False
20,STEVEN,False,True,False,False,False,False,False
21,SWEE GEOK,False,False,False,True,False,False,False
22,TIMOTHY,False,False,False,True,True,True,True
23,TITUS,False,False,True,False,False,False,False
24,WEI XUAN,False,False,True,False,False,False,False
25,WONSEN,True,False,False,False,False,False,False
26,YU TANG,False,False,False,True,False,False,False
27,YU XUAN,False,False,True,False,False,False,False
28,ZHI QIAN,False,False,False,True,False,False,False

### Create Job file

In [158]:
index = [
    'SOUND #1 (M)',
    'PROJECTIONIST (M)',
    'COORDINATOR (B)',
    'LIVESTREAM #1 (B)',
    'SOUND #1 (B)',
    'SOUND #2 (B)',
    'PROJECTIONIST (B)'
    ]

job_df = pd.DataFrame(index=index, columns=['Crucial'],data=1).reset_index(names=['Jobs'])
display(job_df)
job_df.to_excel('q2_jobs.xlsx')

                Jobs  Crucial
0       SOUND #1 (M)        1
1  PROJECTIONIST (M)        1
2    COORDINATOR (B)        1
3  LIVESTREAM #1 (B)        1
4       SOUND #1 (B)        1
5       SOUND #2 (B)        1
6  PROJECTIONIST (B)        1